
<app-nav></app-nav>

<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <div class="row">
        <div id="panel-metaphor" class="panel panel-default metaphorarea">
          <div class="panel-heading">
            <div class="pull-left">
              {{metaphorTitle}}
            </div>
            <div class="pull-right">
              <a href="#" class="fa fa-backward fa-md" style="text-decoration: none;" id="btn-rotate-backward"></a>
              <a href="#" class="fa fa-pause-circle fa-md" style="text-decoration: none;" id="btn-rotate-stop"></a>
              <a href="#" class="fa fa-forward fa-md" style="text-decoration: none;" id="btn-rotate-forward"></a>
              <a href="#" class="fa fa-arrows-alt fa-md" style="text-decoration: none;" id="toggle-fullscreen"></a>
            </div>
          </div>
          <div id="metaphor" class="panel-body">
            <app-metaphor></app-metaphor>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="panel panel-default insetsarea  with-background">
          <div class="panel-heading">
            <div class="pull-left">
              {{tableTitle}}
            </div>
            <div class="pull-right">
            
            </div>
          </div>
          <div id="table-area" class="panel-body" style="overflow: auto">
            <google-chart #tablechart [data]="tableChartData" style="width: 100%; height: 100%"></google-chart>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="row">
        <div class="panel panel-default pdfarea">
          <div class="panel-heading">
            {{srsTitle}}
          </div>
          <div class="panel-body" id="pdfarea">
            <iframe id="pdfFrame" width="100%" height="100%" [src]="pageurl" type="application/pdf">No data loaded</iframe>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="panel panel-default insetsarea  with-background">
          <div class="panel-heading">
            <div class="pull-left">
              {{chartTitle}}
            </div>
            <div class="pull-right">
            
            </div>
          </div>
          <div id="chart-area" class="panel-body" style="overflow: auto">
            <google-chart #structurechart [data]="orgChartData" (chartSelect)='select($event)'></google-chart>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--<app-footer></app-footer>-->